{% extends "ecommerce/default.html" %} {% block content %} {% load static %}
<script
  src="{% static 'users/js/register.js' %}"
  type="text/javascript"
  defer
></script>
<link rel="stylesheet" href="{% static 'users/css/register.css' %}" />

<form class="modal_content">
  <div class="container">
    <h1>Sign Up</h1>
    <p>Please fill in this form to create an account.</p>
    <hr />
    <label for="email" id="email_label"><b>Email</b></label>

    <input
      type="text"
      id="user_email"
      placeholder="Enter Email"
      name="email"
      value=""
      required
    />

    <label id="psw1_lable" for="password"><b>Password</b></label>
    <input
      type="password"
      placeholder="Enter Password"
      id="user_psw"
      value=""
      required
    />

    <label id="psw2_lable" for="password repeat"><b>Repeat Password</b></label>
    <input
      type="password"
      placeholder="Repeat Password"
      id="user_psw_repeat"
      value=""
      required
    />

    <div class="clearfix">
      <input type="button" class="sign_up_btn" id="sign_up" value="Sign Up" />
      <input type="button" class="cancel_btn" id="cancel" value="Cancel" />
    </div>
  </div>
</form>

{% endblock content %}
