{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      type="text/css"
      href="{% static 'ecommerce/default.css' %}"
    />
    <script
      src="https://code.jquery.com/jquery-3.5.0.js"
      integrity="sha256-r/AaFHrszJtwpe+tHyNi/XCfMxYpbsRg2Uqn0x3s2zc="
      crossorigin="anonymous"
    ></script>
    <script src="{% static 'ecommerce/default.js' %}" defer></script>
    <title>Setimok</title>
  </head>
  <body>
    <nav id="links_container">
      <div id="header_design">
        <picture>
          <source
            media="(min-width: 650px)"
            srcset="https://via.placeholder.com/100"
          />
          <source
            media="(min-width: 350px)"
            srcset="https://via.placeholder.com/70"
          />
          <img
            src="https://via.placeholder.com/100"
            alt="Seimo Design"
            id="setimo_logo"
          />
        </picture>

        <ul id="nave_menu">
          <li><a href="#">Home</a></li>
          <li><a href="#">Products</a></li>
          <li><a href="#">Contact</a></li>
          <li><a href="#">About</a></li>
        </ul>

        <div id="nav_opener">
          <div class="menu_icon"></div>
          <div class="menu_icon"></div>
          <div class="menu_icon"></div>
        </div>
      </div>
      <div id="js_side_nav" class="side_nav_holder">
        <a class="close_btn" id="nav_closer">&times;</a>
        <a href="#">About</a>
        <a href="#">Login</a>
        <a href="{% url 'register' %}">Sign up</a>
        <a href="#">Clients</a>
        <a href="#">Contact</a>
      </div>
    </nav>
      {% block content %} {% endblock %}
    
    <footer class="footer">
      <p id="year_brand"></p>
    </footer>
    
  </body>
</html>
